{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if title %}
        <title>Django Blog - {{title}}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!--<link rel="stylesheet" href="{% static 'style.css' %}">-->


    <style>
         #user_name{
            color:#629e6b;
         }

         #user_name:hover{
            color:#68d6c5;
         }

         #logout_function:hover{
            color:#b22038;
         }
         #navigation-bar{
            backgorund:red;
         }



    </style>



</head>
<body style="background:#fafafa">

<!--navbar-->
<nav id ="navigation-bar" class="navbar navbar-expand-lg navbar-light bg-light" style="background: red">
    <div class="container">
         <a class="navbar-brand" href="{% url 'front_page' %}">Djanog blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Catagories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        
        </ul>
        <form class="form-inline my-2 my-lg-0">
      
            <ul class="navbar-nav mr-auto">


                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a id="user_name"class="nav-link" href="{% url 'profile' %}" > {{user.username}}</a>
                </li>
                 <li class="nav-item">
                    <a id="logout_function" class="nav-link" href="{% url 'logout' %}">sign out</a>
                </li>

                {% else %}
                   <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">sign in</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">sign up</a>
                </li>
                {% endif %}



            </ul>
        </form>
    </div>
    </div>
</nav>



<div class="container">




{% block 'content' %}
{% endblock %}

    
</div>

{% block 'footer' %}
{% endblock %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

</body>
</html>