{% extends 'base.html' %}

{% block 'content' %}
<hr>
<div class="container-fluid">
    <br>


    <div class="row">


        <div class="col-sm-10">


            <!--alert messages-->


            {% for post in all_post %}

            <div class="card">
                <h5 class="card-header"><a style="font-size:30px" href="#">{{ post.title }}


                </a>

                    <br>
                    <small style="font-size:12px" class="form-text text-muted">by <a href="">{{ user.username }}</a>
                        <span class="badge badge-info ml-2">category</span> <span
                                class="ml-3">{{ post.date_time }}</span></small>

                </h5>
                <div class="card-body">
                    <!--<h5 class="card-title">Special title treatment</h5>-->
                    <p style="line-height:1.2em; height:3.6em;overflow:hidden; font-size: 15px"
                       class="card-text">

                        {{ post.content }}


                    </p>
                    <hr>
                    <a href="#">see more</a>
                </div>
            </div>
            <br>
            {% endfor %}


        </div>
        <div class="col-sm-2">
            {% for i in "xxxx" %}
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Featured
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

            <br>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}

{% block 'footer' %}
{% include 'footer.html' %}
{% endblock %}