{% extends 'base.html' %}

{% block 'content' %}
<hr>
<div class="container-fluid">
    <br>


    <div class="row">


        <div class="col-sm-10">


            <!--alert messages-->




            {% for i in "xxxxx" %}
            <div class="card">
                <h5 class="card-header"><a style="font-size:30px" href="#">Blog Title

                </a>

                    <br>
                    <small style="font-size:12px" class="form-text text-muted">by <a href="">username</a> <span class="badge badge-info ml-2">category</span> <span class="ml-3">4 jan,2018</span></small>

                </h5>
                <div class="card-body">
                    <!--<h5 class="card-title">Special title treatment</h5>-->
                    <p style="line-height:1.2em; height:3.6em;overflow:hidden; font-size: 15px" class="card-text">

                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.



                    </p>
                    <hr>
                    <a href="#" >see more</a>
                </div>
            </div>
            <br>
            {% endfor %}


        </div>
        <div class="col-sm-2">
            {% for i in "xxxx" %}
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Featured
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

            <br>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}

{% block 'footer' %}
{% include 'footer.html' %}
{% endblock %}