{% extends 'base.html' %}

{% block 'content' %}
<hr>
<div class="container-fluid">
    <br>


    <div class="row">


        <div class="col-sm-10">


            <!--alert messages-->


            {% for posts in all_post %}
            <div class="card">
                <p style="font-size:30px" class="card-header"><b>{{ posts.title }}</b>

               <small style="font-size:12px" class="form-text text-muted"> by
                   {{ posts.author }}
               </small>

                                       <!--<a  href="#"> {{posts.author}}  </a>-->



                </p>
                <div class="card-body">
                    <!--<h5 class="card-title">Special title treatment</h5>-->
                    <p style="line-height:1.2em; height:3.6em;overflow:hidden; font-size: 15px" class="card-text">

                        {{ posts.content }}

                    </p>

                    <hr>

                    <div class="row">
                        <div class="col-sm-4">
                            <a href="#" class="btn btn-outline-link">see more</a>
                            <a href="#" class="btn btn-outline-info"> <i class="far fa-thumbs-up"></i> like <span
                                    class="badge badge-danger">1</span> </a>


                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"></div>

                    </div>


                </div>
            </div>
            <br>
            {% endfor %}


        </div>
        <div class="col-sm-2">
            {% for i in "xxx" %}
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Featured
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

            <br>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}

{% block 'footer' %}
{% include 'footer.html' %}
{% endblock %}