{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block 'content' %}
<hr>

<div class="container">
    <br>

    <div class="row">
        <div class="col-sm-9">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} text-center">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">

        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <div class="container">

                        <!--<img src="" class="rounded-circle" alt="Cinque Terre" >-->
                        <div class="row">
                            <div class="col-sm-7">


                                <img src="{{user.profile.image.url}}" class="rounded-circle float-left"
                                     style="border:1px solid black" height="200px">

                            </div>
                            <div class="col-sm-5">

                                <h2>{{user.username}}</h2>
                                <small class="form-text text-muted">{{user.email}}</small>
                            </div>
                        </div>


                        <!--form here-->

                        <br>
                        <h3>{{ user.username }}'s posts</h3>
                        <hr>


                        <!--users post-->

                        {% for posts in user_post %}
                        <div class="card">
                            <h2 class="card-header"><b>{{ posts.title }}</b></h2>
                            <div class="card-body">
                                <!--<h5 class="card-title">Special title treatment</h5>-->
                                <p style="line-height:1.2em; height:3.6em;overflow:hidden; font-size: 15px" class="card-text">

                                     {{ posts.content }}

                                </p>

                                <hr>

                                <div class="row">
                                    <div class="col-sm-4">
                                           <a href="#" class="btn btn-outline-link">see more</a>
                                <a href="#" class="btn btn-outline-info"> <i class="far fa-thumbs-up"></i> like <span class="badge badge-danger">1</span> </a>


                                    </div>
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4">

                                        <a href="#" class="btn btn-outline-danger">delete</a>
                                        <a href="#" class="btn btn-outline-primary">edit</a>
                                    </div>

                                </div>



                            </div>
                        </div>
                        <br>
                        {% endfor %}



                        <!--{{ user_post }}-->

                    </div>
                </div>


            </div>

        </div>
        <div class="col-sm-3">
            <!--<div class="card">-->
            <!--<div class="card-body">-->
            <div class="btn-group-vertical">
                <a href="{% url 'profile' %}" class="btn btn-outline-info">Dashboard</a>
                <a href="{% url 'upload.post.page' %}" class="btn btn-outline-info">Upload post</a>
                <a href="{% url 'user.post' user.id %}" class="btn btn-outline-info">{{user.username}} Posts </a>
                <a href="#" class="btn btn-outline-info">Notifications <span class="badge badge-danger">1</span></a>
                <a href="#" class="btn btn-outline-info">Profile setting</a>
            </div>
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
{% endblock %}